In [1]:
# Installing required packages
!pip install pyspark==3.1.2
!pip install findspark==2.0.1
!pip install psycopg2==2.9.3
!pip install pyarrow==1.0.0
!pip install pandas==1.1.4
!pip install numpy==1.19.5
!pip install python-Levenshtein
!pip install python-translator
!pip install fuzzywuzzy
!pip install openpyxl
!pip install requests
!pip install bs4

Requirement already satisfied: pyspark==3.1.2 in c:\users\anaconda3\envs\work_env1\lib\site-packages (3.1.2)
Requirement already satisfied: py4j==0.10.9 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from pyspark==3.1.2) (0.10.9)
Requirement already satisfied: findspark==2.0.1 in c:\users\anaconda3\envs\work_env1\lib\site-packages (2.0.1)
Requirement already satisfied: psycopg2==2.9.3 in c:\users\anaconda3\envs\work_env1\lib\site-packages (2.9.3)
Requirement already satisfied: pyarrow==1.0.0 in c:\users\anaconda3\envs\work_env1\lib\site-packages (1.0.0)
Requirement already satisfied: numpy>=1.14 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from pyarrow==1.0.0) (1.19.5)
Requirement already satisfied: pandas==1.1.4 in c:\users\anaconda3\envs\work_env1\lib\site-packages (1.1.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from pandas==1.1.4) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from pandas==1.1.4) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from pandas==1.1.4) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from python-dateutil>=2.7.3->pandas==1.1.4) (1.16.0)
Requirement already satisfied: numpy==1.19.5 in c:\users\anaconda3\envs\work_env1\lib\site-packages (1.19.5)
Requirement already satisfied: python-translator in c:\users\anaconda3\envs\work_env1\lib\site-packages (1.0.3)
Requirement already satisfied: fuzzywuzzy in c:\users\anaconda3\envs\work_env1\lib\site-packages (0.18.0)
Requirement already satisfied: openpyxl in c:\users\anaconda3\envs\work_env1\lib\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\anaconda3\envs\work_env1\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: requests in c:\users\anaconda3\envs\work_env1\lib\site-packages (2.28.1)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from requests) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from requests) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from requests) (1.26.10)
Requirement already satisfied: idna<4,>=2.5 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from requests) (3.3)
Requirement already satisfied: bs4 in c:\users\anaconda3\envs\work_env1\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\anaconda3\envs\work_env1\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)

In [3]:
import findspark
import os
from pyspark.sql import functions as F
from pyspark.sql.functions import udf
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,IntegerType,LongType,StringType,FloatType,DoubleType,DecimalType
import numpy as np
import pandas as pd
from python_translator import Translator
from fuzzywuzzy import process
import re
import math as mt

In [3]:
findspark.init("C:/******/**********/Desktop/ETL/.env/Lib/site-packages/pyspark")

In [4]:
configure = SparkConf().set("spark.jars.packages","com.crealytics:spark-excel_2.12:0.13.7")

In [5]:
spark = SparkSession.builder.appName("get_tried").config(conf = configure).master("local[3]").getOrCreate()

In [6]:
spark

In [7]:
Target_d = spark.read.format("com.crealytics.spark.excel").option("inferSchema", "True").\
    option("header","True").load("C:/****/*************/Downloads/*****************/***************/Target Data.xlsx")

In [237]:
Supplier_d = spark.read.json("C:/******/*************/Downloads/**************/**********/supplier_car.json")

In [74]:
Target_d.printSchema()

root
 |-- carType: string (nullable = true)
 |-- color: string (nullable = true)
 |-- condition: string (nullable = true)
 |-- currency: string (nullable = true)
 |-- drive: string (nullable = true)
 |-- city: string (nullable = true)
 |-- country: string (nullable = true)
 |-- make: string (nullable = true)
 |-- manufacture_year: string (nullable = true)
 |-- mileage: string (nullable = true)
 |-- mileage_unit: string (nullable = true)
 |-- model: string (nullable = true)
 |-- model_variant: string (nullable = true)
 |-- price_on_request: string (nullable = true)
 |-- type: string (nullable = true)
 |-- zip: string (nullable = true)
 |-- manufacture_month: string (nullable = true)
 |-- fuel_consumption_unit: string (nullable = true)

In [284]:
Supplier_d.printSchema()

root
 |-- Attribute Names: string (nullable = true)
 |-- Attribute Values: string (nullable = true)
 |-- ID: string (nullable = true)
 |-- MakeText: string (nullable = true)
 |-- ModelText: string (nullable = true)
 |-- ModelTypeText: string (nullable = true)
 |-- TypeName: string (nullable = true)
 |-- TypeNameFull: string (nullable = true)
 |-- entity_id: string (nullable = true)

In [285]:
#view = {Target_d.select('*').dropDuplicates().show()}
#view

In [286]:
#view = {col:Target_d.select(F.col(col)).dropDuplicates().sort(F.col(col),ascending = False).show() for col in Target_d.columns}
#view

In [287]:
#view_d = {col:Target_d.filter(F.col(col).like('null')).count() for col in Target_d.columns}
#view_d

In [288]:
#vw = {col:Target_d.select(F.col(col)).distinct().rdd.map(lambda x: x[0]).collect() for col in Target_d.columns}
#vw

In [13]:
pnd = Target_d.toPandas()
vw = {col : pnd[col].unique() for col in Target_d.columns}
vw

{'carType': array(['Convertible / Roadster', 'Coupé', 'Custom', 'null', 'SUV',
        'Other', 'Saloon', 'Single seater', 'Station Wagon', 'Targa'],
       dtype=object),
 'color': array(['White', 'Other', 'Blue', 'Black', 'Silver', 'Brown', 'Red',
        'Gray', 'Green', 'Beige', 'Yellow', 'Orange', 'Purple', 'Gold'],
       dtype=object),
 'condition': array(['Used', 'Original Condition', 'Restored', 'New',
        'Used with guarantee', 'Restoration Project'], dtype=object),
 'currency': array(['USD', 'JPY', 'GBP', 'EUR', 'CHF', 'AUD'], dtype=object),
 'drive': array(['LHD', 'RHD', 'null'], dtype=object),
 'city': array(['Zuzwil', 'London', 'Scotts Valley', 'Hong Kong', 'Bovenden',
        'Isernhagen', 'De Lier', 'Berlin', 'Waalwijk', 'Lyon', 'Aachen',
        'Düsseldorf', 'Harelbeke', 'Neustadt', 'Baierbrunn bei München',
        'Bramley', 'CH-8852 Altendorf / SZ', 'Singen', 'St. Louis',
        'Erkelenz', 'HETEREN', 'Courbevoie', 'Mill', 'Overijse', 'Paris',
        'Huntington Station', 'Böblingen', 'Riedering', 'Preston',
        'Wuppertal', 'Langenfeld', 'Puget Sur Argens', 'Beamish',
        'Hamburg', 'Pleidelsheim', 'BRUMMEN', 'Aalst',
        'Buckinghamshire UK', '8706 Meilen', 'NUNSPEET', 'MOORDRECHT',
        'Aalter', 'Köln', 'Gronsveld', 'CH-2900 Porrentury',
        '7302 Landquart', 'Olney', 'Turnhout', 'Maranello', 'null',
        'Dubai - Vereinigte Arabische Emirate', 'Hemel Hempstead',
        'Kissing', 'Peuerbach', 'Nürnberg', 'Kleinmachnow', 'Monterey',
        'London TW8 9EW', 'Malle', 'Heilbronn', 'Rickmansworth', 'Tokyo',
        'Rijssen', 'Ettlingen', 'Tamworth', 'Böblingen (bei Stuttgart)',
        'Derbyshire Dales District', 'marlow', 'Leverkusen', 'Oldenburg',
        'Fawkham', 'Miami', 'Gaillac', 'Houston', 'Henley on Thames',
        'Murnau', 'Indianapolis', 'Amsterdam', 'Zollikon',
        'Frankfurt/Main', 'Lohne-Wietmarschen', 'Kerpen', 'Voglans',
        '8165 Oberweningen', 'Hook', 'Naarden', 'Zeist', 'Wommelgem',
        'Chorleywood', 'Hesperange', 'Brühl', '08019 Barcelona',
        'Tinton Falls', 'LIEGE', 'Lège-Cap-Ferret', 'San Diego', 'Speyer',
        'Needham', 'grünwald', 'Ahrensburg', 'Wendelstein', 'Fellbach',
        'Woodbridge', 'Brussels', 'Bergdietikon', 'Oxford', 'Geneva',
        'WATERLOO', 'Kyoto', 'Almere', 'Sint-Martens-Latem', 'Marseille',
        'Orange', 'Telgte', 'Landshut', 'Sattledt', 'Akiruno',
        'London SW18 4JP', 'Monaco-Ville', 'Wien', 'Elsloo', 'Ashford',
        '1228 Plan-les-Ouates - Genève', 'Wiltshire',
        '8953 Dietikon /Zürich', 'Swadlincote', 'München', 'Barcelona',
        'Farnham', 'Noranco', 'Muenster', 'Richmond', "'s-Graveland",
        'Hartley Wintney', 'MONACO', 'Boskoop', 'Großmaischeid',
        'Recklinghausen', 'LE CANNET', 'La Louviere', 'Mereworth',
        'Burford', 'Frankfurt', 'Brno', 'Bletchingley', 'LONDON',
        'Bilthoven', 'Hasselt', 'BOLOGNA', 'Monaco', 'Plymouth',
        'South Kensington', 'Durham', 'Leeds', 'SCHWERTBERG', 'Waltham',
        'Chur', 'Fossalta di Portogruaro', 'Tanworth', 'Bern', 'HILVERSUM',
        'Karlsruhe', 'Beuron-Neidingen', 'Newport Pagnell', 'PARIS',
        'Koekangen', 'Walmer Bridge', 'Cotswolds', 'Svenstrup J',
        '1950 Sion', 'Frechen', 'Church Crookham', 'Porrentruy',
        '1228 Plan-les-Ouates/ GE - Switzerland', 'Reims', 'Halstead',
        'Maaloev', 'MODENA', '9300 Aalst', 'Anzing bei München',
        'Villejust', '1207 Geneva', 'Bodio Lomnago', 'Wolfsburg',
        'Belmont', '8964 Rudolfstetten', 'Wijnegem', 'Lisbon', 'Dubai',
        'London SW7 5BQ', 'Iver Heath', 'Colombes', 'BRESCIA',
        'NEUILLY SUR SEINE', 'North Yorkshire HG4 1JD', 'Otley', 'Ascot',
        'Münster', 'Sassenheim', 'Kassel', 'Büsserach', 'Gütersloh',
        'Carmel', 'Castricum', 'Rueil-Malmaison', 'Günzburg', 'BEURE',
        'Lichtenfels', 'Brügge', 'Bodegraven', "Reggio nell'Emilia",
        'Zufikon', 'Grez-Doiceau', 'Riemerling b. München', 'Twyford',
        'Helsinki', '76139 Karlsruhe', 'London SE1 0NR', 'Anzing',
        'Monte carlo', 'Jinočany', 'Friedrichshafen', 'Swindon', 'Cobham',
        'Merelbeke', 'Evere', 'Temse', 'Straelen', 'Bielefeld', 'Mannheim',
        'Egmating', '30916 Isernhagen', 'Martorell',
        'Mayfield and Five Ashes', '1006 Lausanne',
        'Rielasingen-Worblingen', 'Iver SL0 9HF',
        'Chofu-Shi Tokyo 182-006', 'Weinfelden', 'Hants', 'Reading',
        'Stavelot', 'GAILLAC', 'Banstead', 'Milan', 'Hof bei Salzburg',
        'Enter a location', 'London W8 6JP', 'Jena', 'Guildford', 'Lisboa',
        'Tunbridge Wells', 'Maldon', 'La Jolla', 'LYON', 'Colchester',
        'Tilburg', 'Forch', 'Luton', 'Stockach', 'Wetherby', 'ATHENS',
        'Lasne', 'Hanau', 'Warsaw', 'Polling-Oberbayern',
        '8126 Zumikon/Zuerich', 'London SW7 3HE', 'Madrid', 'Vösendorf',
        'Costa Mesa', 'Palma de Mallorca', 'Flensburg', 'BOUGIVAL',
        'Eutin', 'Oguchi-cho', 'Safenwil', 'Cincinnati', 'MELBOURNE',
        'Kuwait', 'Five Ashes', 'Lichtervelde', 'Auburn Hills',
        "Braine-l'Alleud", 'viterbo', 'Brüssel', 'Drachten', 'Ballenstedt',
        'bruxelles', 'North Miami', 'MARTORELL', 'Saarbruecken',
        'Oliveira de Azemeis', 'Marlow', 'Saint-Junien',
        'Wangen an der Aare', 'Ipswich', 'Beaconsfield', 'Aadorf', 'Malov',
        'Irschenberg', 'Oslo', 'Neuss', 'MEUDON', 'Stuttgart', 'Vienna',
        '8117 Fällanden', 'hesingue', 'LUTON', 'Bergisch Gladbach',
        'Chester', 'Zandhoven', 'Oosterhout', 'Southbourne', 'Maidenhead',
        'Mayen', 'SETAGAYA', 'Sant Boi de Llobregat', 'Latsch', 'Nagoya',
        'Gstaad', 'Oerlinghausen', 'Norderstedt', '1274 Howald', 'Kriens',
        'Morelia', "Villeneuve-d'Ascq", 'Willsbach', 'Cary', 'wijnegem',
        'hildburghausen', 'Philadelphia', 'Hungerford', 'Tournai',
        'Donaustauf', 'Cairanne', 'Dallas', 'Ivyland', 'Hausham', 'Zürich',
        'Delft', 'Gent', 'Leighton Buzzard', 'Ouddorp', 'Orange Park',
        'Caldes de Montbui', '9524 Zuzwil SG', 'San Fior', 'Reutlingen',
        'Zug', 'Coldrerio', 'Herve', 'Kronberg', 'Melle', 'BRECHT',
        'Oberhausen', 'Bettembourg', 'Herselt', 'Brest', 'Sarreguemines',
        'Wallingford', "BRAINE L'ALLEUD", 'Meerbusch', '76532 Baden-Baden',
        'Kornwestheim', 'Pfaffenhofen', '4633 Melen-Belgium',
        'Wasserbillig', 'red hook', 'Bruxelles', 'Kirchheim', 'Trondheim',
        'Antwerpen', 'Setagaya', 'Kilchberg', 'london', 'RIO DE JANEIRO',
        'Molsheim', 'Knokke-Le-Zoute', 'West Sussex', 'Auckland', 'MARLOW',
        '8952 Schlieren', 'Wannegem-Lede', 'Ghent', 'Milton Keynes',
        'Breda', 'Victoria', 'suginami', 'Copenhagen', 'Modena',
        'FOUESNANT', 'Baden-Baden', 'Parsdorf / München', 'Osijek',
        'Buochs', 'Hertford Heath', 'Chedburgh', 'Porto', 'Papenburg',
        'Zurich', 'Los Angeles', '74078 Heilbronn', 'Langham',
        'Waldenbuch', 'Charlotte', 'D-56276 Großmaischeid',
        'market harborough', 'St. Gallen', 'Sydney', 'Perth', 'Dortmund',
        '97447 Gerolzhofen', 'Aubussargues', 'Milano',
        'Dubai - United Arab Emirates', 'PADOVA'], dtype=object),
 'country': array(['CH', 'GB', 'US', 'HK', 'DE', 'NL', 'FR', 'BE', 'IT', 'AE', 'AT',
        'JP', 'LU', 'ES', 'MC', 'AU', 'CA', 'CZ', 'DK', 'PT', 'FI', 'GR',
        'PL', 'KW', 'NO', 'MX', 'BR', 'NZ', 'HR'], dtype=object),
 'make': array(['Toyota', 'Ferrari', 'Porsche', 'Rolls-Royce', 'Gumpert',
        'Mercedes-Benz', 'Fiat', 'Sunbeam', 'Jaguar', 'Bentley', 'TVR',
        'Bugatti', 'Renault', 'Bizzarrini', 'BMW', 'Lancia', 'Maserati',
        'VW', 'Chevrolet', 'Cadillac', 'Land Rover', 'Dodge',
        'Lamborghini', 'Ford', 'Aston Martin', 'Citroen', 'Audi',
        'Alfa Romeo', 'Jeep', 'Salmson', 'Hotchkiss', 'Volvo', 'Opel',
        'MG', 'Triumph', 'Pontiac', 'Duesenberg', 'Lotus', 'Delage',
        'Buick', 'Austin-Healey', 'Pedalcars', 'Cisitalia', 'McLaren',
        'Studebaker', 'Oldsmobile', 'Simca', 'Victor', 'Lola', 'Alpine',
        'Autobianchi', 'Shelby', 'Datsun', 'Pierce-Arrow', 'GMC', 'Allard',
        'MINI Classic', 'Suzuki', 'Panther', 'Mitsubishi', 'Packard',
        'ASA', 'Alvis', 'Lynx', 'Lagonda', 'Austin', 'Nissan', 'Riley',
        'Chrysler', 'Talbot', 'Lincoln', 'null', 'Alpina', 'Arrows',
        'Morris', 'Morgan', 'Honda', 'Isdera', 'Glas', 'Hummer', 'Tatra',
        'BSA (Cars)', 'Bristol', 'Horch', 'Jensen', 'Wiesmann', 'AC',
        'Delahaye', 'Rover', 'Maybach', 'DeSoto', 'BSA',
        'Isotta-Fraschini', 'Peugeot', 'Invicta', 'Rudolph Roadster',
        'Tempo', 'Amilcar', 'Hudson', 'Mercury', 'Healey', 'De Tomaso',
        'MINI', 'AMC', 'Mazda', 'Talbot Lago', 'Auburn', 'Devin',
        'Deutsch-Bonnet (DB)', 'Minerva', 'American LaFrance',
        'Hispano-Suiza', 'Acura', 'La Buire', 'Panhard', 'Abarth', 'HRG',
        'Matford', 'Marcos', 'Merlyn', 'Connaught', 'Lexus', 'Holden',
        'OSI', 'Replica', 'Frazer Nash', 'Intermeccanica', 'Plymouth',
        'Siata', 'NSU', 'Koenigsegg', 'Nash', 'Daimler', 'Iso', 'Rondeau',
        'REO', 'DMC', 'TOJ', 'Hanomag', 'Veritas', 'Fahr', 'FBW', 'Saab',
        'BRM', 'Hupmobile', 'Ruf', 'OSCA', 'Huron', 'AAR', 'Georges Irat',
        'Bandini', 'Cord', 'AMX', 'Smart', 'Lorraine-Dietrich', 'Trabant',
        'Pur Sang', 'Cobra', 'Ariel', 'Raleigh', 'Facel Vega',
        'Lea Francis', 'PGO', 'Martini', 'Formula I', 'Matra',
        'Nash Healey', 'Blackstone', 'Yes!', 'White Motor Company',
        'Weineck', 'Vauxhall', 'Auto Union', 'Tyrrell', 'Cooper', 'Spyker',
        'Berliet', 'Wolseley', 'Subaru', 'De Sanctis', 'Ghia', 'Williams',
        'Daren', 'Unic', 'Georges Richard', 'IFA', 'Adler', 'Himiko',
        'Gordon Keeble', 'Bertone', 'Rolux', 'Tesla', 'Borgward', 'Ensign',
        'Boursaud', 'Lister', 'Steyr D. Puch', 'Messerschmitt',
        'Stanguellini', 'Diamond T', 'Pegaso', 'KTM', 'Moretti',
        'Monteverdi', 'Meyers Manx', 'Voisin', 'Franklin', 'Magirus',
        'Amphicar', 'Dallara', 'Innocenti', 'Chevron', 'Ligier', 'Hawk',
        'Springer', 'Reynard', 'Brabham', 'AGM', 'Veb', 'Saleen', 'Willys',
        'OM', 'Crosley', 'Saurer', 'Clenet', 'Mosler', 'GMG', 'Giannini',
        'Praga', 'Crossle', 'Kougar', 'Normag', 'Rochet-Schneider',
        'Other', 'Singer Motors Limited', 'Tornado', 'Elva', 'Mathis',
        'Marmon', 'Sauber', 'Surtees', 'Children´s car', 'BHS', 'DKW',
        'Lada', 'Osella', 'Armstrong Siddeley', 'Société Parisienne',
        'Corre La Licorne', 'Pagani', 'Ardun', 'Venturi', 'Monos',
        'McDowell'], dtype=object),
 'manufacture_year': array(['1983', '2001', '1989', '1961', '2010', '1979', '1990', '1973',
        '1939', '1950', '1987', '1966', '1952', '2016', '2008', '1985',
        '1999', '2002', '1994', '1995', '1925', '1954', '1968', '1981',
        '1965', '2005', '1960', '1993', '1969', '1956', '2012', '2006',
        '1972', '1964', '2004', '1948', '1984', '1977', '2007', '1971',
        '2000', '1974', '1967', '1970', '1975', '1998', '2003', '1997',
        '2011', '2009', '1988', '1935', '1996', '1991', '2015', '2014',
        '1962', '1982', '1930', '1937', '1978', '1955', '1951', '1959',
        '1980', '1963', '1946', '1957', '1947', '1958', '1931', '1953',
        '1992', '1933', '1926', '1949', '1927', '1976', '1941', '1907',
        '1986', '2013', '1938', '1928', '1932', '1929', '1934', '1942',
        '1936', '1921', '1940', '1908', '1924', '1922', '1900', '1909',
        '0', '1914', '1897', '1923', '1899', '1943', '1944', '1910', '63',
        '1945', '1911', '1919'], dtype=object),
 'mileage': array(['0.0', '1.0', '1.1', ..., '9999999.0', '1.0E7', '1.0E8'],
       dtype=object),
 'mileage_unit': array(['kilometer', 'mile', 'null'], dtype=object),
 'model': array(['Celica', '550', '911 "G"', ..., 'KR', 'Focus', 'Quattro'],
       dtype=object),
 'model_variant': array(['2800 i Supra', 'null', 'Apollo S 800hp', ...,
        'GT Speed | Bentley STUTTGART', 'Experimental Prototype', 'S1'],
       dtype=object),
 'price_on_request': array(['false', 'true'], dtype=object),
 'type': array(['car'], dtype=object),
 'zip': array(['null', 'Surrey', 'MO', 'NY', 'Tokyo', 'uk', 'FL', 'IN', 'NJ',
        'CA', 'MA', 'Suffolk', 'Kyoto', 'kent', 'spain', 'VIC', 'ON',
        'Kent', 'London', 'NC', 'VE', 'Toyota', 'Buckinghamshire',
        'Barcelona', 'Hampshire', 'essex', 'Sureey', 'BS',
        'West Yorkshire', 'Essex', 'RE', 'Lancashire', 'BARCELONA',
        'Wiltshire', 'SPAIN', 'East Sussex', 'kyoto', 'MI', 'BUCKS',
        'BEDFORDSHIRE', 'CT', 'Madrid', 'Balearics Island', 'Aichi', 'OH',
        'kuwait', 'Hertfordshire', 'VT', 'Balearic Islands', 'UK',
        'Kyoyro', 'TAS', 'berkshire', 'TOKYO', 'BZ', 'Japan', 'Michoacan',
        'PA', 'Kuwait', 'Bedfordshire', 'Berkshire', 'Beds', 'TV',
        'Hexagon Modern Classics', 'tokyo', 'Hamshire', 'BO', 'RJ', 'VV',
        'West Sussex', 'Auckland', 'BUCKINGHAMSHIRE', 'Bucks', 'BC',
        'Barcerlona', 'ESSEX', 'barcelona', 'Middlesex', 'leicestershire',
        'england', 'NSW', 'WA', 'PD'], dtype=object),
 'manufacture_month': array(['3', 'null', '6', '9', '1', '12', '11', '4', '2', '5', '7', '8',
        '10', '0'], dtype=object),
 'fuel_consumption_unit': array(['l_km_consumption', 'null'], dtype=object)}

Schema mapped from the Supplier data including the Attribute Names

In [290]:
"""
schemaMap - A function that maps the column names
    from the source data to form a new schema
@supplier_PandasDF: a source data
@Returns: the new shema
"""

def schemaMap(supplier_PandasDF):
    ls = supplier_PandasDF.columns.tolist()
    nw = supplier_PandasDF["Attribute Names"].unique().tolist()
    col = ls + nw
    [col.remove(i) for i in ["Attribute Values","Attribute Names","entity_id"]]
    sch = StructType()
    for a in range(0,len(col)):
        sch.add(StructField(str(col[a]),StringType(),True))
    return sch

In [261]:
# result of schema with all column names and Attribute names
schemaMap(Supplier_d.toPandas())

StructType(List(StructField(ID,StringType,true),StructField(MakeText,StringType,true),StructField(ModelText,StringType,true),StructField(ModelTypeText,StringType,true),StructField(TypeName,StringType,true),StructField(TypeNameFull,StringType,true),StructField(Seats,StringType,true),StructField(Hp,StringType,true),StructField(FuelTypeText,StringType,true),StructField(Ccm,StringType,true),StructField(BodyColorText,StringType,true),StructField(ConsumptionTotalText,StringType,true),StructField(Doors,StringType,true),StructField(Co2EmissionText,StringType,true),StructField(TransmissionTypeText,StringType,true),StructField(FirstRegYear,StringType,true),StructField(Properties,StringType,true),StructField(ConditionTypeText,StringType,true),StructField(Km,StringType,true),StructField(DriveTypeText,StringType,true),StructField(InteriorColorText,StringType,true),StructField(ConsumptionRatingText,StringType,true),StructField(FirstRegMonth,StringType,true),StructField(City,StringType,true),StructField(BodyTypeText,StringType,true)))

processing the supplier data and filtering on the product ID

In [292]:
"""
ProcessTranspose - A function that filters
    each product data with same ID and completes
    it's attributes and values
@iterator: a set of rows passed as collection
    from dataset
@Returns: A processed dataframe
"""


def ProcessTranspose(iterator):
    i = 1
    for pdf in iterator:
        if i:
            column = schemaMap(pdf)
            NewSupply_d = pd.DataFrame(data = [], columns = column.names)
            i -= 1
        #pdf.sort_values(by = "ID", inplace = True)
        id_list = pdf["ID"].unique().tolist()
        d_pdf  = pdf.set_index("Attribute Names")
        for id in id_list:
            data = d_pdf[d_pdf["ID"] == id]
            data = data.transpose()
            for key in data.columns.tolist():
                NewSupply_d.loc[id, key] = data.loc["Attribute Values"][key]

            NewSupply_d.loc[id,"MakeText"] = data.loc["MakeText"][0]
            NewSupply_d.loc[id,"ModelText"] = data.loc["ModelText"][0]
            NewSupply_d.loc[id,"ModelTypeText"] = data.loc["ModelTypeText"][0]
            NewSupply_d.loc[id,"TypeName"] = data.loc["TypeName"][0]
            NewSupply_d.loc[id,"TypeNameFull"] = data.loc["TypeNameFull"][0]
            NewSupply_d.loc[id,"ID"] = data.loc["ID"][0]

        NewSupply_d.reset_index(inplace = True)
                
    yield NewSupply_d

Result of prcessing

In [328]:
schema = schemaMap(Supplier_d.toPandas())
data1 = Supplier_d.select("*").sort("ID").mapInPandas(ProcessTranspose,schema).toPandas()
data1

,ID,MakeText,ModelText,ModelTypeText,TypeName,TypeNameFull,Seats,Hp,FuelTypeText,Ccm,...,FirstRegYear,Properties,ConditionTypeText,Km,DriveTypeText,InteriorColorText,ConsumptionRatingText,FirstRegMonth,City,BodyTypeText
0,1.0,MERCEDES-BENZ,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic,5,224,Benzin,3199,...,1999,"""Ab MFK""",Occasion,31900,Allrad,grau,null,1,Zuzwil,Limousine
1,10.0,LAMBORGHINI,None,Espada GT 400 Serie 3,Espada GT 400 Serie 3,LAMBORGHINI Espada GT 400 Serie 3,4,350,Benzin,3929,...,1973,"""Ab MFK""",Oldtimer,48000,Hinterradantrieb,schwarz,null,4,Zuzwil,Coupé
2,100.0,FERRARI,F360,F360 Modena Berlinetta,F360 Modena Berlinetta,FERRARI F360 Modena Berlinetta,2,400,Benzin,3586,...,2004,"""Ab MFK""",Occasion,42600,Hinterradantrieb,beige,G,2,Zuzwil,Coupé
3,1000.0,ALFA ROMEO,8C,8C,null,ALFA ROMEO 8C,0,450,Benzin,4691,...,2011,"""Ab MFK""",Occasion,23900,Hinterradantrieb,schwarz,null,4,Porrentruy,Cabriolet
4,1001.0,BMW,2002,2002 Turbo,Turbo,BMW 2002 Turbo,4,170,Benzin,1977,...,1974,"""Ab MFK""",Occasion,97100,Hinterradantrieb,schwarz,null,3,Zuzwil,Limousine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,995.0,MERCEDES-BENZ,CLS 350,CLS 350 CGI,CLS 350 CGI,MERCEDES-BENZ CLS 350 CGI,4,292,Benzin,3498,...,2010,"""Ab MFK""",Occasion,25300,Hinterradantrieb,schwarz,G,1,Zuzwil,Limousine
1149,996.0,LAMBORGHINI,DIABLO,Diablo 5.7 VT,Diablo 5.7 VT,LAMBORGHINI Diablo 5.7 VT,2,492,Benzin,5707,...,1993,"""Ab MFK""",Occasion,46700,Allrad,null,null,6,Zuzwil,Coupé
1150,997.0,AUDI,RS6,RS6 Avant 5.0 V10 quattro,RS6 Avant 5.0 V10 quattro,AUDI RS6 Avant 5.0 V10 quattro,5,580,Benzin,4991,...,2009,"""Ab MFK""",Occasion,118800,Allrad,schwarz,G,2,Zuzwil,Kombi
1151,998.0,FERRARI,612,612,612,FERRARI 612,4,540,Benzin,5748,...,2004,"""Ab MFK""",Occasion,42200,Hinterradantrieb,beige,G,10,Zuzwil,Coupé
1152,999.0,PORSCHE,CAYENNE,Cayenne Turbo,Cayenne Turbo,PORSCHE Cayenne Turbo,5,450,Benzin,4511,...,2005,"""Ab MFK"", ""Tuning""",Occasion,13700,Allrad,grau,G,12,Zuzwil,SUV / Geländewagen

In [330]:
newdata1 = spark.createDataFrame(data = data1)

In [331]:
"""
Translate - A function that translates certain
    columns (CarType, color, condition, e.t.c) using
    a translator and word processing
@line: the rows from the spark column to
    be normalized
@b_list: a list of values from the target data use
    for normalization
@Returns: A normalized column
"""

def Translate(line, b_list):
    translator = Translator()
    look_up = {"Vorführmodell":"Used with guarantee","Oldtimer":"Restored","Occasion":"Used","violett":"Purple",\
            "Kleinwagen":"Saloon","km":["kilometers","l_km_consumption"]}
    
    compare = b_list
    backup = {}
    getval = ""
    value = re.search('^\s*[\w]*',str(line))
    if value:
        value = value.group()
        if value not in backup.keys() and value not in look_up.keys():
            result = translator.translate(str(value),"english","german")
            if (result == "nan" or result == "zero" or result == "well"):
                backup[value] = np.nan
                getval = np.nan
            else:
                bestMatch , score = process.extractOne(str(result), compare)
                if score > 70:
                    backup[value] = bestMatch
                    getval = bestMatch
                else:
                    backup[value] = "Other"
                    getval = "Other"
        else:
            if value in backup.keys():
                getval = backup[value]
            elif value in look_up.keys():
                getval = look_up[value]
    return getval

In [332]:
"""
Extract - A function that extracts the certain
    columns (City, make, e.t.c) using word processing
@line: the rows from the spark column to
    be normalized
@b_list: a list of values from the target data use
    for normalization
@Returns: A normalized column
"""

def Extract(line,b_list):

    look_up = {"Vorführmodell":"Used with guarantee","Oldtimer":"Restored","Occasion":"Used","violett":"Purple",\
            "Kleinwagen":"Saloon","km":["kilometers","l_km_consumption"]}
    
    compare = b_list
    back_up = {}
    getval = ""
    value = re.search('^\s*[\w\s.-/\d]*', line)
    if value:
        value = value.group()
        if value not in back_up.keys() and value not in look_up.keys():
            if value == "null" or value == "zero" or value == "well" or value == "nan" or value == "None":
                back_up[value] = np.nan
                getval = np.nan
            else:
                bestMatch, score = process.extractOne(str(value), compare)
                if score > 90:
                    back_up[value] = bestMatch
                    getval = bestMatch
                else:
                    back_up[value] = "null"
                    getval = "null"
        else:
            if value in back_up.keys():
                getval = back_up[value]
            elif value in look_up.keys():
                getval = look_up[value]
    return getval

In [333]:
"""
ExtractMileage - A function that extracts the
    mileage value in Kilometers per litre.
@line: the rows from the spark column to
    be normalized
@Returns: A normalized mileage column
"""

def ExtractMileage(line):

    value = re.search('(^\s*[\w\.\d]*)(\s*\w*l)/*\d*([\w]*)', str(line))
    getval = ""
    if value:
        num = value.group(1)
        dim = value.group(3)
        if str(num) == "null" or str(num) == "zero" or str(num) == "nul" or str(num) == "nan":
            getval = np.nan
        elif (round(float(num),1) != 0.0):
            getval = str(round((100 / float(num)) ,1)) + dim + "/l"
        else:
            getval = "null"
    return getval

In [334]:
"""
pass_as_closure - A pointer to a function, returning a
    function depending on the column name passed.
@col_name: the name of the column to normalize
@Target_d: the target data use in normalization
@Returns: the normalized result of the column
"""


def pass_as_closure(col_name,Target_d):
    
    dict = {"BodyTypeText":"carType","BodyColorText":"color","ConditionTypeText":"condition",\
        "DriveTypeText":"drive","City":"city","MakeText":"make","FirstRegYear":"manufacture_year",\
        "FirstRegMonth":"manufacture_month","ModelText":"model","ModelTypeText":"model_variant",\
        "ConsumptionTotalText":"mileage"}
    targ = Target_d.toPandas()[dict[col_name]].unique().tolist()
    
    def f(s):
        if dict[col_name] == "carType" or dict[col_name] == "color" or dict[col_name] == "condition":
            return Translate(s, targ)
        elif dict[col_name] == "city" or dict[col_name] == "make":
            return Extract(s, targ)
        elif dict[col_name] == "mileage":
            return ExtractMileage(s)
            
    return F.udf(f)

In [335]:
data2 = newdata1.withColumn("BodyColorText",pass_as_closure("BodyColorText",Target_d)(F.col("BodyColorText"))).\
        withColumn("BodyTypeText",pass_as_closure("BodyTypeText",Target_d)(F.col("BodyTypeText"))).\
        withColumn("ConditionTypeText",pass_as_closure("ConditionTypeText",Target_d)(F.col("ConditionTypeText"))).\
        withColumn("City",pass_as_closure("City",Target_d)(F.col("City"))).\
        withColumn("MakeText",pass_as_closure("MakeText",Target_d)(F.col("MakeText"))).\
        withColumn("ConsumptionTotalText",pass_as_closure("ConsumptionTotalText",Target_d)(F.col("ConsumptionTotalText"))).toPandas()
        
data2

,ID,MakeText,ModelText,ModelTypeText,TypeName,TypeNameFull,Seats,Hp,FuelTypeText,Ccm,...,FirstRegYear,Properties,ConditionTypeText,Km,DriveTypeText,InteriorColorText,ConsumptionRatingText,FirstRegMonth,City,BodyTypeText
0,1.0,null,E 320,E 320 Elégance 4-Matic,E 320 Elégance 4-Matic,MERCEDES-BENZ E 320 Elégance 4-Matic,5,224,Benzin,3199,...,1999,"""Ab MFK""",Used,31900,Allrad,grau,null,1,Zuzwil,Other
1,10.0,Lamborghini,None,Espada GT 400 Serie 3,Espada GT 400 Serie 3,LAMBORGHINI Espada GT 400 Serie 3,4,350,Benzin,3929,...,1973,"""Ab MFK""",Restored,48000,Hinterradantrieb,schwarz,null,4,Zuzwil,Coupé
2,100.0,Ferrari,F360,F360 Modena Berlinetta,F360 Modena Berlinetta,FERRARI F360 Modena Berlinetta,2,400,Benzin,3586,...,2004,"""Ab MFK""",Used,42600,Hinterradantrieb,beige,G,2,Zuzwil,Coupé
3,1000.0,Alfa Romeo,8C,8C,null,ALFA ROMEO 8C,0,450,Benzin,4691,...,2011,"""Ab MFK""",Used,23900,Hinterradantrieb,schwarz,null,4,Porrentruy,Convertible / Roadster
4,1001.0,BMW,2002,2002 Turbo,Turbo,BMW 2002 Turbo,4,170,Benzin,1977,...,1974,"""Ab MFK""",Used,97100,Hinterradantrieb,schwarz,null,3,Zuzwil,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,995.0,null,CLS 350,CLS 350 CGI,CLS 350 CGI,MERCEDES-BENZ CLS 350 CGI,4,292,Benzin,3498,...,2010,"""Ab MFK""",Used,25300,Hinterradantrieb,schwarz,G,1,Zuzwil,Other
1149,996.0,Lamborghini,DIABLO,Diablo 5.7 VT,Diablo 5.7 VT,LAMBORGHINI Diablo 5.7 VT,2,492,Benzin,5707,...,1993,"""Ab MFK""",Used,46700,Allrad,null,null,6,Zuzwil,Coupé
1150,997.0,Audi,RS6,RS6 Avant 5.0 V10 quattro,RS6 Avant 5.0 V10 quattro,AUDI RS6 Avant 5.0 V10 quattro,5,580,Benzin,4991,...,2009,"""Ab MFK""",Used,118800,Allrad,schwarz,G,2,Zuzwil,Station Wagon
1151,998.0,Ferrari,612,612,612,FERRARI 612,4,540,Benzin,5748,...,2004,"""Ab MFK""",Used,42200,Hinterradantrieb,beige,G,10,Zuzwil,Coupé
1152,999.0,Porsche,CAYENNE,Cayenne Turbo,Cayenne Turbo,PORSCHE Cayenne Turbo,5,450,Benzin,4511,...,2005,"""Ab MFK"", ""Tuning""",Used,13700,Allrad,grau,G,12,Zuzwil,SUV

In [336]:

"""
Integration - Reserves only the columns in
    target dataset as final dataset
@normalize_df: dataset from normalization
@Target_data: the target dataset
@Returns: target data mapped with normalized data
"""


def Integration(normalize_df,Target_data):

    Target_schema = pd.DataFrame(data= [], columns= Target_data.columns)
    
    dict = {"BodyTypeText":"carType","BodyColorText":"color","ConditionTypeText":"condition",\
        "DriveTypeText":"drive","City":"city","MakeText":"make","FirstRegYear":"manufacture_year",\
        "FirstRegMonth":"manufacture_month","ModelText":"model","ModelTypeText":"model_variant",\
        "ConsumptionTotalText":"mileage"}

    mapped_col = ["carType","color","condition","city","make","manufacture_year","manufacture_month",\
            "mileage"]

    for col in dict.keys():
        if dict[col] in mapped_col:
            for row in range(len(normalize_df)):
                if dict[col] != 'mileage':   
                    Target_schema.loc[row, dict[col]] = normalize_df.iloc[row][col]
                else:
                    val = normalize_df.iloc[row][col]
                    if (str(val) == 'nan' or str(val) == 'zero' or str(val) == 'null' or str(val) == 'nul'):
                            Target_schema.loc[row, dict[col]] = np.nan
                    else:
                        value = re.search('(^\s*[.\d]*)(\w*)(/\w)', val)
                        if (value):
                            num = value.group(1)
                            dim = value.group(2)
                            Target_schema.loc[row, dict[col]] = num
                            if (str(dim) == 'km'):
                                Target_schema.loc[row,'mileage_unit'] = 'kilometers'
                                Target_schema.loc[row,'fuel_consumption_unit'] = 'l_km_consumption'      
    return Target_schema

In [337]:
data3 = Integration(new, Target_d.toPandas())
data3

,carType,color,condition,currency,drive,city,country,make,manufacture_year,mileage,mileage_unit,model,model_variant,price_on_request,type,zip,manufacture_month,fuel_consumption_unit
0,Other,Other,Used,NaN,NaN,Zuzwil,NaN,MERCEDES,1999,8.7,kilometers,NaN,NaN,NaN,NaN,NaN,1,l_km_consumption
1,Coupé,Other,Restored,NaN,NaN,Zuzwil,NaN,Lamborghini,1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
2,Coupé,Blue,Used,NaN,NaN,Zuzwil,NaN,Ferrari,2004,5.2,kilometers,NaN,NaN,NaN,NaN,NaN,2,l_km_consumption
3,Convertible / Roadster,Silver,Used,NaN,NaN,Porrentruy,NaN,Alfa Romeo,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN
4,Other,Silver,Used,NaN,NaN,Zuzwil,NaN,BMW,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1148,Other,Silver,Used,NaN,NaN,Zuzwil,NaN,MERCEDES,2010,10.8,kilometers,NaN,NaN,NaN,NaN,NaN,1,l_km_consumption
1149,Coupé,Silver,Used,NaN,NaN,Zuzwil,NaN,Lamborghini,1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
1150,Station Wagon,Silver,Used,NaN,NaN,Zuzwil,NaN,Audi,2009,7.1,kilometers,NaN,NaN,NaN,NaN,NaN,2,l_km_consumption
1151,Coupé,Silver,Used,NaN,NaN,Zuzwil,NaN,Ferrari,2004,4.8,kilometers,NaN,NaN,NaN,NaN,NaN,10,l_km_consumption
1152,SUV,Silver,Used,NaN,NaN,Zuzwil,NaN,Porsche,2005,6.4,kilometers,NaN,NaN,NaN,NaN,NaN,12,l_km_consumption

In [338]:
# please replace the directory path with your path
with pd.ExcelWriter("C:/********/****************/Downloads/************.xlsx") as writer:
    data1.to_excel(writer, index = False, sheet_name= "Preprocessing")
    data2.to_excel(writer, index = False, sheet_name= "Normalization")
    data3.to_excel(writer, index = False, sheet_name = "Integration")